* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.profile-pic {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 30px;
}

.card-details {
	display: flex;
	flex-direction: column;
	width: 70%;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px;
    padding-left: 50px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-image:url("/static/images/stars-gf9bc880f9_1920.jpeg");
    background-position: center;
    background-size: cover;
	color: #fff;
}

.form-card1 {
	width: 50%;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
    padding-left: 50px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	background-color: rgb(31, 25, 40);
}
.form-card2 {
	width: 50%;
	color: white;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
    padding-left: 50px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	background: rgb(52,40,70);
	background: linear-gradient(90deg, rgba(52,40,70,1) 34%, rgba(5,22,31,1) 100%, rgba(71,168,177,1) 100%);}


h2 {
	margin-bottom: 20px;
	color:white
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 10px;
}

select,
textarea {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
